/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4{
    font-weight: 500;
}

body{
    position: relative;
    padding-top: 80px;
    font-family: 'Roboto', sans-serif;
    color: #858585;
    font-size: 16px;
}

/* UTILITIES */
.container{
    width: 65%;
    margin: 0 auto;
}

.w100{
    width: 100%;
}

.w50{
    width: 50%;
}

.w333{
    width: 33.3%;
}

.w23{
    width: 23%;
}

.float-left{
    float: left;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn{
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    min-width: 85px;
    line-height: 1;
    text-align: center;
}

.btn.btn-green{
    border: 1px solid transparent;
    background-color: #7bbb01;
}
.btn-big{
    font-size: 14px;
    padding: 20px;
}

/* HEADER */
header{
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0c325a;
    font-size: 12px;
    line-height: 80px;
}

header .container .logo a img{
    vertical-align: middle;
    position: relative;
    bottom: 4px;
}

header .container .nav-list li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

header .container .logo{
    width: 15%;
}

header .container .nav-left{
    width: 45%;
}

header .container .nav-right{
    width: 40%;
    text-align: right;
}

/* JUMBOTRON */
.jumbotron{
    height: 500px;
    background-color: #0c325a;
    background-image: url('../img/background-header.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 115% 110%;
}

.jumbotron .container{
    height: 100%;
    position: relative;
}

.jumbotron .container .texts{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.jumbotron .container .texts h1{
    color: white;
    font-size: 45px;
    margin-bottom: 20px;
}

/* BANNER */
.banner{
    background-color: #d3d3d3;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.banner h2{
    color: black;
    font-size: 26px;
    margin-bottom: 10px;
}

.banner p{
    font-size: 18px;
}

/* MAIN */
main{
    padding-top: 40px;  
}

main .first-content.container [class^="col"]{
    width: 33.3%;
    text-align: center;
    padding: 0 30px;
}

main .first-content.container [class^="col"] img{
    height: 150px;
    margin-bottom: 18px;
}

main .first-content.container [class^="col"] h2{
    color: #7bbb01;
    margin-bottom: 30px;
}

main .first-content.container [class^="col"] p::before{
    display: block;
    margin: auto;
    content: '';
    width: 60px;
    height: 1px;
    background-color: #858585;
    text-align: center;
    margin-bottom: 20px;
}

main hr{
    border-top: 1px solid #d3d3d3;
    width: 95%;
    margin: 40px auto;
}

main .second-content{
    margin-bottom: 15px;
}

main .second-content .firstcol,
main .third-content .firstcol{
    text-align: center;
}

main .second-content .firstcol img,
main .third-content .firstcol img{
    width: 70%;
}

main .second-content .secondcol,
main .third-content .secondcol{
    padding: 0 80px;
}

main .second-content .secondcol h2,
main .third-content .secondcol h2,
main .content4 .w50 h2{
    color: black;
    font-size: 30px;
    margin-bottom: 18px;
}

main .content4 .w50 h2 span{
    color: #7bbb01;
}

main .second-content .secondcol p,
main .third-content .secondcol p{
    margin-bottom: 18px;
}

main .second-content .secondcol a,
main .content4 .w50 a,
main .content6 .container [class^="col"] a{
    text-decoration: underline;
    text-transform: none;
    color: dodgerblue;
}

main .third-content{
    padding-top: 80px;
    padding-bottom: 130px;
}

main .third-content .secondcol .interactions{
    padding-top: 10px;
}

main .third-content .secondcol .interactions a:first-child{
    width: 50%;
    font-size: 14px;
    padding: 15px;
}

main .third-content .secondcol .interactions a:last-child{
    max-width: 50%;
    text-transform: none;
    color: dodgerblue;
    text-align: center;
    position: relative;
    top: 5px;
}

main .content4{
    padding-top: 120px;
    padding-bottom: 80px;
}

main .content4 .w50{
    text-align: center;
    margin: auto;
}

main .content4 .w50 img{
    margin-bottom: 18px;
}

main .content4 .w50 p:first-of-type{
    font-size: 12px;
    margin-bottom: 18px;
}

main .content4 .w50 p:last-of-type{
    margin-bottom: 18px;
}

/* SECOND HALF MAIN */
main .content5{
    background-color: #0c325a;
    padding-bottom: 80px;
    padding-top: 100px;
}

main .content5 .container .w333 h2{
    color: white;
    font-size: 30px;
    margin-bottom: 50px;
}

main .content5 .container .w333 P{
    margin-bottom: 35px;
}

main .content6{
    margin-top: 95px;
    margin-bottom: 80px;
}

main .content6 .container [class^="col"] img{
    height: 50px;
    margin-bottom: 18px;
}

main .content6 .container [class^="col"]{
    display: inline-block;
}

main .content6 .container [class^="col"]:not(:last-child){
    margin-right: 20px;
}

main .content6 .container{
    text-align: center;
}

main .content6 .container h2{
    margin-bottom: 90px;
    color: black;
    font-size: 26px
}

main .content6 .container [class^="col"] h3{
    margin-bottom: 18px;
    color: black;
    font-size: 20px
}

main .content6 .container [class^="col"] a{
    font-size: 14px;
}

main .content6 .container [class^="col"]{
    text-align: initial;
}

main .content6 .container [class^="col"] p::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 5px;
    margin-top: 20px;
    margin-bottom: 16px;
}

main .content6 .container .col1 p::after{
    background-color: #9bc8ef;
}

main .content6 .container .col1 a{
    color: #9bc8ef;
}

main .content6 .container .col2 p::after{
    background-color: #f1a51a;
}

main .content6 .container .col2 a{
    color: #f1a51a;
}

main .content6 .container .col3 p::after{
    background-color: #81b10a;
}

main .content6 .container .col3 a{
    color: #81b10a;
}

main .content7{
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: #0c325a;
}

main .content7 h2{
    color: white;
    font-size: 24px;
    margin-bottom: 15px;
}

main .content7 h2 span{
    color: #f1a51a;
}

main .content8{
    padding-top: 60px;
    padding-bottom: 85px;
    background-color: #18406b;
}

main .content8 [class^=col] h3{
    color: white;
    font-size: 20px;
}

main .content8 [class^=col] h4{
    font-weight: 400;
}

main .content8 [class^=col] a{
    text-transform: none;
    color: #858585;
}

main .content8 .container .col-left h3{
    margin-bottom: 15px;
}

main .content8 .container .col-left ul li{
    list-style: none;
    line-height: 30px;
}

main .content8 .container .col-right{
    text-align: right;
}

main .content8 .container .col-right h3{
    margin-bottom: 40px;
}

main .content8 .container .col-right h4:first-of-type{
    padding-top: 20px;
}

/* FOOTER */
footer{
    line-height: 120px;
    background-color: #d3d3d3;
}

footer .firstsec *,
footer .secondsec *{
    display: inline-block;    
}

footer .secondsec{
    text-align: right;
}

footer .secondsec *:not(:last-child){
    margin-right: 20px;
}

footer .firstsec h2{
    color: black;
}

footer .secondsec form select{
    width: 150px;
    cursor: pointer;
    outline: none;
    color: #858585;
    border: none;
    border-bottom: 1px solid #858585;
    border-radius: 0;
    font-size: 16px;
    height: 34px;
    background: url('../img/pointing-triangle.png') no-repeat right #d3d3d3;
    background-size: 16px;
    -webkit-appearance: none;
    background-position-x: 135px;
}

/* DECORATION */
a:hover{
    color: #7bbb01;
}

a.btn:hover {
    z-index: 2;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid transparent;
    box-shadow: none;
}

a.btn.btn-green:hover {
    z-index: 2;
    color: white;
    background-color: #89d300;
    border: 1px solid transparent;
}

a.btn{
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.15);
}

/* BADGE HELP */
.badge a{    
    width: 60px;
    text-align: left;
    position: fixed;
    bottom: 60px;
    right: 0;
    transform: translateY(50%);
    color: white;
    text-transform: uppercase;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #7bbb01;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;   
}

a.help:hover {   
    text-align: left;
    width: 80px;
    color: white;
    background-color: #89d300;
    box-shadow: none;
}