/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4{
    font-weight: 500;
}

body{
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: #858585;
    font-size: 16px;
}

/* UTILITIES */

/* common utilities */
.container{
    width: 65%;
    margin: 0 auto;
}

.w50{
    width: 50%;
}

.float-left{
    float: left;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* HEADER */
header{
    background-color: #0c325a;
    font-size: 12px;
    line-height: 80px;
}

header .container .logo a img{
    vertical-align: middle;
    position: relative;
    bottom: 4px;
}

header .container .nav-list li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: 0.5s;
}

header .container .logo{
    width: 15%;
}

header .container .nav-left{
    width: 45%;
}

header .container .nav-right{
    width: 40%;
    text-align: right;
}

.btn{
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    min-width: 85px;
    line-height: 1;
    text-align: center;
}

.btn.btn-green{
    border: 1px solid transparent;
    background-color: #7bbb01;
}

/* JUMBOTRON */
.jumbotron{
    height: 500px;
    background-color: #0c325a;
    background-image: url('../img/background-header.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 115% 110%;
}

.jumbotron .container{
    height: 100%;
    position: relative;
}

.jumbotron .container .texts{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.jumbotron .container .texts h1{
    color: white;
    font-size: 45px;
    margin-bottom: 20px;
}

.btn-big{
    font-size: 14px;
    padding: 20px;
}

/* BANNER */
.banner{
    background-color: #d3d3d3;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.banner h2{
    color: black;
    font-size: 26px;
    margin-bottom: 10px;
}

.banner p{
    font-size: 18px;
}

/* MAIN WITH CENTERED FLOATED ELEMENTS */
main{
    padding-top: 40px;
    padding-bottom: 40px;  
}

main .macrocontainer{
    float: right;
    position: relative;
    left: -50%;
}

main .macrocontainer .container{
    position: relative;
    left: 50%;
}

main .macrocontainer .container [class^="col"]{
    width: 33.3%;
    text-align: center;
    padding: 0 30px;
}

main .macrocontainer .container [class^="col"] img{
    height: 150px;
    margin-bottom: 18px;
}

main .macrocontainer .container [class^="col"] h2{
    color: #7bbb01;
    margin-bottom: 30px;
}

main .macrocontainer .container [class^="col"] p::before{
    display: block;
    margin: auto;
    content: '';
    width: 60px;
    height: 1px;
    background-color: #858585;
    text-align: center;
    margin-bottom: 20px;
}

main .macrocontainer hr{
    border-top: 1px solid #d3d3d3;
    position: relative;
    left: 50%;
    width: 95%;
    margin: 40px auto;
}

main .macrocontainer .second-content .firstcol{
    text-align: center;
}

main .macrocontainer .second-content .firstcol img{
    width: 70%;
}

main .macrocontainer .second-content .secondcol{
    padding: 0 80px;
}

main .macrocontainer .second-content .secondcol h2{
    color: black;
    font-size: 30px;
    margin-bottom: 18px;
}

main .macrocontainer .second-content .secondcol p{
    margin-bottom: 18px;
}

main .macrocontainer .second-content .secondcol a{
    text-decoration: underline;
    text-transform: none;
    color: dodgerblue;
}

/* FOOTER */
footer{
    line-height: 120px;
    background-color: #d3d3d3;
}

footer .firstsec *,
footer .secondsec *{
    display: inline-block;    
}

footer .secondsec{
    text-align: right;
}

footer .secondsec *:not(:last-child){
    margin-right: 20px;
}

footer .firstsec h2{
    color: black;
}

footer .secondsec select{
    cursor: pointer;
    min-width: 150px;
    border: none;
    border-bottom: 1px solid #858585;
    background-color: #d3d3d3;
    color: #858585;
    font-size: 16px;
}

/* DECORATION */

a:hover{
    color: #7bbb01;
}

a.btn:hover {
    z-index: 2;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid transparent;
}

a.btn.btn-green:hover {
    z-index: 2;
    color: white;
    background-color: #9ad332;
    border: 1px solid transparent;
}

/* BADGE HELP */
.badge{
    text-align: center;
    position: fixed;
    bottom: 60px;
    right: 0;
    transform: translateY(50%);
    color: white;
    text-transform: uppercase;
    padding: 10px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: #7bbb01;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

a.help:hover {
    color: white;
}