/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4{
    font-weight: 500;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #858585;
    font-size: 16px;
}

/* UTILITIES */

/* common utilities */
.container{
    width: 65%;
    margin: 0 auto;
}

.w50{
    width: 50%;
}

.float-left{
    float: left;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* HEADER */
header{
    background-color: #0c325a;
    font-size: 12px;
    line-height: 80px;
}

header .container .logo a img{
    vertical-align: middle;
    position: relative;
    bottom: 4px;
}

header .container .nav-list li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

header .container .logo{
    width: 15%;
}

header .container .nav-left{
    width: 45%;
}

header .container .nav-right{
    width: 40%;
    text-align: right;
}

.btn{
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    min-width: 85px;
    line-height: 1;
    text-align: center;
}

.btn.btn-green{
    border: 1px solid transparent;
    background-color: #7bbb01;
}

/* JUMBOTRON */
.jumbotron{
    height: 500px;
    background-color: #0c325a;
    background-image: url('../img/background-header.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 115% 110%;
}

.jumbotron .container{
    height: 100%;
    position: relative;
}

.jumbotron .container .texts{
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.jumbotron .container .texts h1{
    color: white;
    font-size: 45px;
    margin-bottom: 20px;
}

.btn-big{
    font-size: 14px;
    padding: 20px;
}